
body{
    background-color: rgb(195, 195, 195);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(84, 84, 84);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(136, 136, 136);
}

th,
td {
    border: 1px solid rgb(68, 68, 68);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}


.button_container{
    width: 800px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap:1rem
}




button{
    font-weight: bold;
    color: white;
    background-color: black;
    max-width: 150px;
    border-radius: 10px;
    border: solid black;
    padding: 0.5rem;
}

button:hover{
    border: solid white;
}


@media screen and (min-width: 360px) and (max-width:750px) {
    .button_container{
        /* width: 800px; */
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap:1rem
    }
    
}