* {
  box-sizing: border-box;
}

:root {
  /* color-scheme: light dark; */
  --base-color: hsl(199.32, 62.11%, 81.37%);
  --primary-color: hsl(from var(--base-color) h s calc(l + 10));
  --secondary-color: hsl(from var(--base-color) h s calc(l + 20));
  --base-button: hsl(from var(--base-color) h s calc(l - 10));
  --text-color: hsl(from var(--base-color) h s calc(l - 30));
  --primary-border-color: hsl(from var(--base-color) h s calc(l - 20));
  --switch-background: hsl(from var(--base-color) h s calc(l + 5));
  --switch-color: hsl(from var(--base-color) h s calc(l - 30));

  --button-state-hover: #9c27b0;
  --button-state2-hover: #c04fd4;
  --button-state-click: #995ea4;

  --text-sm1: 0.25rem;
  --text-sm2: 0.5rem;
  --text-sm3: 0.75rem;
  --text-m1: 1rem;
  --text-m2: 1.25rem;
  --text-m3: 1.5rem;
  --text-lg1: 2rem;
  --text-lg2: 3rem;
  --text-lg3: 4rem;

  --text-weight: bold;

  --border-rad-sm: 2px;
  --border-rad-m: 4px;
  --border-rad-lg: 8px;
  --border-rad-xl: 16;
}
/*Dark and Light mode*/
.dark-mode {
  --primary-color: hsl(from var(--base-color) h s calc(l - 50));
  --secondary-color: hsl(from var(--base-color) h s calc(l + 40));
  --primary-border-color: hsl(from var(--base-color) h s calc(l + 80));
  --text-color: hsl(from var(--base-color) h s calc(l + 30));
  --switch-color: hsl(from var(--base-color) h s calc(l + 10));
}
.theme-switch-container {
  display: flex;
  align-items: center;
}
#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20%;
}

#theme-switch img {
  width: 36px;
  height: auto;
}
#theme-switch img:last-child {
  display: none;
}
.dark-mode #theme-switch img:first-child {
  display: none;
}

.dark-mode #theme-switch img:last-child {
  display: none;
}
.dark-mode #theme-switch img:last-child {
  display: block;
}

/*-------------------------------------------------------*/

body {
  background-color: var(--primary-color);
  margin: 0 100px;
  color: var(--text-color);
}
header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.nav_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_link {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav_link a {
  text-decoration: none;
  color: var(--text-clr-light);
}

button {
  padding: 0.5rem 1rem;
  font-weight: var(--text-weight);
  border-radius: var(--border-rad-lg);
  font-size: var(--text-m2);
  background-color: var(--prim-clr-dark);
  color: var(--text-clr-light);
  border-color: var(--primary-border-color);
  border: solid;
}
button:hover {
  background-color: var(--button-state-hover);
  color: var(--text-clr-dark);
  border-color: var(--border-clr);
}

/* @media (prefers-color-scheme: dark) {
  .dark-mode {
    background-color: var(--background-clr-dark);
    color: var(--text-clr-dark);
  }
  button:hover {
    background-color: var(--button-state2-hover);
    color: var(--text-clr-dark);
    border-color: var(--border-clr);
  }
}
@media (prefers-color-scheme: light) {
  .light-mode {
    background-color: var(--background-clr-light);
  }
} */
