* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

.choose_number_container {
  display: flex;
  justify-content: center;
  margin: 1.2rem;
}

.input_container {
  display: flex;
  justify-content: center;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
